body{
    width:98vw;
    height:97vh;
    background-color:rgb(12,12,12);
    display:flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
    justify-items:center;
    justify-content:center;
    position: absolute;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.resposta
{
    height: 80%;
    width: 600px;
    background-color: #00507e;
    border: 2px;
    border-style: solid;
    border-color: white;
    padding-left: 15px;
}
.caixa_texto
{
    height: 40px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    
}
.texto{
    width:400px;
    height:40px;
}
.botao{
    width:60px;
    height:40px;
}